/*Limpar formatações padrão*/
*{
    margin:0px;
    padding:0px;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #ffff;
}

#area-cabecalho{
    background-color: rgb(245, 147, 0);
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

#area-principal{
 
    width: 920px;
    margin: 0 auto;
    padding: 15px;

}

#area-postagens{
    width: 660px;
    float: left;
    
}

#area-lateral{
    width: 240px;
    float: right;
    
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dotted green;

}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border: 1px dotted white;
}

#rodape{
        clear: both;
        text-align: center;
        padding: 15px;
        background-color: #f0d806;
}

/*
```Formatação do Menu ```
*/

a{
    text-decoration: nome;
}

a:hover{
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #ffff;
    padding:8px 12px
}

#area-cabecalho a:hover{
    background: white;
    text-decoration:  nome;
}

/* 
```` formatações em geral ````
*/

h1{
    color: antiquewhite;
    font-size: 2.5em;
}

h2{
    color: chocolate;
}

h3{
    color: cyan;
    background: #ccc;
    padding: 3px;
}

.branco{
    color: white;
}

.data-postagem{
    font-size: 0.8px;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}