html,body{
    height: 100%;
}

body{
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);

       background-attachment: fixed;
       font-family: Arial, Helvetica, sans-serif;

}





.divisor{
    width: 1px;
    background: white;
    margin: 12px 13px;
}

.carrossel{
    background-color: white;
    height: 1000px;
}

/* servicos */
#servicos{
    background: #f8f2f2;
}

.caixa{
    padding: 20px;
    padding-bottom: 20px;
}

.albuns{
    padding: 10px 0;

}